body {
	background: #131313;
	color: #ffffff;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: 'IosevkaTerm Nerd Font';
	font-size: 1.5em;
}

h2 {
	border: .5px solid #fff;
	width:25%;
	font-size: 1em;
	margin:0;
	padding: 0;
}

h1 { margin:0; }
div { width: 53.3vw; height: 30vh; } 
img { width: 100%; height: 56.25%; border-radius: 5px;}
div > a { width: 100%; height: 20%;
	font-weight: 700;
	text-decoration: none;
	color: #ffffff;
}


.flex-container {
	display: flex;
	gap: 10px;              /* Optional spacing between items */
	padding: 10px;
}

.flex-item {
	background-color: #242424;
	color: white;
	padding: 6px;
	text-align: center;
	flex: 1; /* All items grow equally */
}


@font-face {
	font-family: 'IosevkaTerm Nerd Font';
	src: url('/static/IosevkaTermNerdFont-Regular.ttf');
}

