<!DOCTYPE html>
<html>
	<head>
		<link href="/static/chat.css" rel="stylesheet">
	</head>
	<body>
		<div class="chat-container">
			<div class="chat-display">
				{{range .Messages}}
				<div class="message">
					<div class="message-avatar"></div>
					<div class="message-content">
						<div class="message-header">
							<span class="message-username">{{.Name}}</span>
							<span class="message-time">{{.FormattedTime}}</span>
						</div>
						<div class="message-text"><pre>{{.Content}}</pre></div>
					</div>
				</div>
				{{end}}
			</div>
			<div class="bottom-nav">
				<div class="input-wrapper">
					<input type="text" name="nickname" id="nickname" value="{{.Nickname}}" {{.NicknameAttr}} placeholder="Nickname">
					<div class="input-container">
						<textarea name="text" id="text" rows="1" placeholder="Message #general"></textarea>
						<input type="submit" value="Send" id="send">
					</div>
				</div>
			</div>
		</div>
	<script src="/static/chat.js"></script>
	</body>
</html>
